extends layout

block content
  h2= data.item.name
  p= data.item.category.name
  p= data.item.description 
  div(class="stock-price")
    p In stock: !{data.stock_count}
    p Price: !{data.item.price} GP
  div(class="item-links")
    a(href=`/emporium/item/${data.item._id}/update`) Update Item
    a(href=`/emporium/item/${data.item._id}/delete`) Delete Item
